.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fcfcfc;
  border-radius: 0.5rem;
  box-shadow: var(--default-shadow);
}

.task-text {
  font-family: "Poppins", sans-serif;
  color: #707070;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 100%;
}

.text-small {
  font-size: 12px;
}
