.btn {
  outline: none;
  border-radius: 2rem;
  display: flex;
  border: none;
  transition: all 300ms;
}

.btn:hover {
  box-shadow: var(--default-shadow);
  transition: all 300ms;
}

.btn:active {
  opacity: 0.65;
  transition: all 300ms;
}

.btn-label {
  padding: 0.5rem 1.5rem;
}

/* @Input prop: type */
.btn-filled {
  background-color: #9feed1;
}
.btn-filled .btn-label {
  color: #fcfcfc;
}

.btn-outlined {
  background-color: #f2fcf8;
  border: 0.1rem solid #9feed1;
}
.btn-outlined .btn-label,
.btn-default .btn-label {
  color: #707070;
}

.btn-default {
  background: none;
}
