.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.checkbox {
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.07rem solid #707070;
  transition: all 200ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox:hover {
  box-shadow: var(--default-shadow);
  transition: all 200ms;
}
.checkbox.checked {
  background-color: #ea5285;
  border-color: #ea5285;
  transition: all 250ms ease-out;
}

.checkbox-label {
  margin-left: 0.5rem;
}
